* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Zabars';
  src: url('./fonts/Zabars.ttf') format('truetype');
}

body {
  background-color: rgb(207, 138, 92);
  /* background-color: rgb(123, 171, 185); */
  font-family: 'Zabars', Arial, Helvetica, sans-serif;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;

  flex-direction: column;
}

.bg-picture, 
.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;       /*  nach hinten legen */
}

.display {
  z-index: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
}

h1 {
  font-size: 56px;
  color: rgb(244, 220, 0);
  letter-spacing: 4px;
  text-shadow: 4px 4px 4px rgb(0, 0, 0, 0.5);
  margin-bottom: 32px;
}

.frame {
  width: 900px; 
  height: 506px; 
  position: relative; 
  display: flex; 
  justify-content:center;
}

canvas {
  display: block;
  margin: 0 auto;
  background-color: black;
}

.overlay {
  position: absolute;
  /* left: 0;
  right: 0;
  top: 0;
  bottom: 0; */
  inset: 0;
  display: flex;
  justify-content: center;

  /* max-width: 900px; */
  /*min-width: 610px; /*neu, da credits sonst zu schmal*/

  height: fit-content; /* für Vorspann wichtig */
  z-index: 3;
}

.overlay > img {
  max-width: 900px;
  min-width: 610px; /* credits sonst zu schmal*/
  height: 506px;
}

.fullscreen-overlay {
  height: 100%;
  width: 100%;
  align-items: flex-end;
  padding: 20px 20px;
}

.mobile-overlay {
  height: 100%;
  width: 100%;
  align-items: space-between;
  padding: 32px 40px 20px;
}

.buttons-div {
  max-width: 900px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
}

.index-Two {
  z-index: 2;
}

.vertical-space {
  margin-top: 42px;
}

.yellow-button {
  border: none;
  outline: none;
  background-color:rgb(244, 220, 0);
  box-shadow: inset 0 0 18px rgb(255, 140, 0),
    inset 0 0 12px rgb(255, 140, 0),
    2px 2px 3px 3px rgb(0, 0, 0, 0.2),
    4px 4px 6px 5px rgb(0, 0, 0, 0.35);
  border-radius: 18px;
  font-family: 'Zabars';
  cursor: pointer;
}

.circle {
  border-radius: 50px;
  padding: 10px;
}

.big {
  padding: 14px 24px 8px;
  font-size: 48px;
  letter-spacing: 1.5px;
}

.big:hover,
.circle:hover,
.active-btn {
  box-shadow: -8px -8px 20px 6px rgb(255, 140, 0),
    8px 8px 20px 6px rgb(255, 140, 0);
  transition: all 225ms ease-in-out;
}

.icon {
  width: 70px;
  height: 70px;
}

.cactus {
  width: 160px;
  height: 160px;
  position: relative;
}

.sound {
  position: absolute;
  margin-right:26px;
}

/* styles used in templates only */

.template {
  background-color: rgb(254, 243, 185);
  border-radius: 24px;
  padding: 36px;
  display: flex;
  flex-direction: column;
  row-gap: 26px;
  color: rgb(84, 39, 7);
  font-size: 36px;
  line-height: 40px;
  letter-spacing: 0.9px;
}

.centered {
  align-items: center;
}

/* 2nd template only */
.narrow-gap {
  row-gap: 4px;
}

.footnote-div {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.medium-size {
  box-shadow: inset 0 0 13px rgb(255, 140, 0),
    inset 0 0 10px rgb(255, 140, 0);
  padding: 10px 20px 8px;
  font-size: 32px;
  letter-spacing: 1.5px;
}

.medium-size:hover {
  box-shadow: 3px 3px 6px 2px rgb(255, 140, 0, 0.7),
    -3px -3px 6px 2px rgb(255, 140, 0, 0.7);
  transition: all 225ms ease-in-out;
}

.home {
  width: 65px;
  height: 50px;
  padding: 6px 12px;
}

/* table formating (moves, credits) */

table {
  border-collapse: collapse;
}

.key {
  border: 2px solid rgb(84, 39, 7);
  border-radius: 12px;
  width: 50px;
  height: 50px;
  padding: 3px;
}

.moves td, td > img {
  text-align: left;
  vertical-align: middle;
  height: 58px;
}

.moves tr > td:first-of-type {
  width: 130px;
}

.moves span {
  padding: 4px 12px 5px;
}

/* "L" is not verticaly centered with normal padding */
.moves span.vertical-position {
  padding: 6px 12px 2px;
}

.small-text {
  font-size: 28px;
}

.credits tr > td:first-of-type {
  width: 260px;
}

.credits td {
  height: 44px;
  font-size: 32px;
}

table a {
  color: rgb(127, 80, 29);
  text-decoration: none;
}

/* mobile controls overlay */
.mobile-game-btns-container {
  /* inset: 0; */
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 10px;
}

.mob-bar-top {
  display: flex;
  justify-content: center;
  gap: 80px;
}

.mob-bar-bottom {
  display: flex;
  justify-content: space-between;
}

.mob-btn-group {
  display: flex;
  gap: 80px;
}


/* final sequence */
.gameover {
  position: relative;
  width: 720px;
  height: 480px;
}

.gameover > img {
  width: 100%;
  height: 100%;
}

.final-image {
  position: absolute;
  inset: 0;
  z-index: 6;
  animation: scaleFinalImage 1.5s ease-in-out forwards;
}

@keyframes scaleFinalImage {
  0% {
    scale: 0.3;
  }
  30% {
    scale: 0.3;
  }
  100% {
    scale: 0.75;
  }
}

.hidden {
  visibility: hidden;
}

.d-none {
  display: none;
}